@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.app-container {
    height: 100%;
}
